<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="{{url_for('static',filename='store.css')}}"
  />    <title>Document</title>
</head>
<body>
    {%extends "user/dashboard.html"%}

{%block all%}

<section>
    <div class="title-parent">
        <div class="title">
            <h1>All Fragrance & Perfumes</h1>
            <p> Showing 200 Products</p>
        </div>
    
    </div>
    <div class="fourth-section reveal">
      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/goldpeff.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/pinkpeff.png" alt="" onclick="document.location.href='/proddeets/'" >
        <p> Solitde Perfmes and dinast globs</p>
         <button> Add to cart</button>
      </div>


    
      <div class="fourth-child">
        <img src="/static/images/goldpeff.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

      <div class="fourth-child">
        <img src="/static/images/goldpeff.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>


      <div class="fourth-child">
        <img src="/static/images/peffpic.png" alt="">
        <p> Solitde Perfmes</p>
         <button> Add to cart</button>
      </div>

    </div>
    

    
  </section>

{%endblock all%}
</body>
</html>